 html, body, .view {
    height: 100%;
}

.flex-center {
    color: #fff;
}

.view {
    background: url("/img/overlays/london-city-evening.jpeg")no-repeat center center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Contact section*/

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
}

.wheel {
    margin-left: 7px;
}

.logo {
    height: 100px;
}

.huge {
    font-size: 400%;
}

.margin {
    margin-top: 2em;
}

.strong {
    font-weight: bold;
}
